.tree {
    /* margin-top: 10px; */
    /* position: relative; */
    /* padding-left: 5px; */
}
span.root {
    font-size: 1rem;
    margin-bottom: 10px;
    display: inline-block;
    padding: 0 10px;
    line-height: 20px;
    margin-left: -5px;
    border-radius: 3px;
    font-size: 10px;
    font-weight: 500;
}
.tree ul {
    list-style: none;
    padding: 0 0 0 8px;
    position: relative;
    top: -7px;
    left: 2px;
}
.tree ul li {
    padding: 7px 0 7px 22px;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.tree ul li:before {
    content: '';
    height: 1px;
    width: 20px;
    background-color: #59b9df;
    position: absolute;
    top: 16px;
    left: 0;
    margin: auto;
}
.tree ul li:after {
    content: '';
    width: 1px;
    height: 100%;
    background-color: #59b9df;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}
.tree ul li:last-child {
    margin-bottom: 12px;
}
.tree ul li:last-child,
.tree ul li:last-child:after {
    height: 100%;
}
.tree ul li .fa {
    color: #b4b4b4;
    /* cursor: pointer; */
    display: inline-block;
    margin-right: 9px;
}
.tree ul li .fa:hover {
    color: #777;
}
.tree ul li .node {
    font-size: 1rem !important;
    display: block;
    /* cursor: pointer; */
    font-weight: 400;
    font-size: 13px;
    position: relative;
    z-index: 1;
    left: 4px;
    top: 0px;
}
.tree ul li .node:hover:before {
    display: block;
}
.tree ul li .node:hover {
    color: #333;
    text-decoration: none;
}
.node .actions {
    position: absolute;
    right: 0;
    /* background: #f1f4f5; */
    display: none;
    top: 0;
}
.tree ul li .node:hover .actions {
    display: block;
}
.node .actions .fa {
    width: 16px;
    text-align: center;
    margin: 0;
    font-size: 10px;
}
.tree ul li .node.node_edit {
    z-index: 10;
}
.tree ul li .node.node_edit:before {
    background-color: #fff;
    display: block;
    border: 1px solid #71d371;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
form.node_edit_form {
    position: relative;
    display: -webkit-flex;
    display: flex;
    height: 20px;
}
form.node_edit_form .field {
    flex-basis: 100px;
    position: relative;
}
form.node_edit_form .field input {
    line-height: 13px;
    height: 24px;
    padding: 0 10px 0 0;
    background-color: transparent;
    border: none;
    color: #000;
    position: relative;
    top: -3px;
}
form.node_edit_form .field.name input {
    width: 140px;
}
form.node_edit_form .field.code input {
    width: 60px;
}
form.node_edit_form .field.code:before {
    content: '';
    display: inline-block;
    width: 1px;
    position: absolute;
    left: -5px;
    top: -4px;
    bottom: -4px;
    background-color: #e1e5e8;
}
form.node_edit_form .field.action_node {
    position: absolute;
    top: -4px;
    right: -4px;
    bottom: -4px;
    width: 30px;
    background: #71d371;
}
form.node_edit_form .field.action_node .fa {
    width: 30px;
    display: block;
    height: 14px;
    text-align: center;
    line-height: 14px;
    color: #fff;
    font-size: 9px;
}

.root + .treeview {
    margin-left: 10px;
}

.tree .view4 + .treeview li:before {
    width: 40px;
}
.tree .view4 + ul li .node {
    left: 24px;
}

.tree .node:before {
    content: '';
}

.tree .node {
    cursor: default;
}

.treeview-list li:after {
    background-color: rgb(11, 34, 56) !important;
}

.treeview-list li:before {
    background-color: rgb(11, 34, 56) !important;
}

.tree ul .user .node {
    left: 83px;
}

.tree ul .user:before {
    width: 105px;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}
